html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Helvetica Neue", Helvetica, Tahoma, Arial,"PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100%;
  /* min-width: 500px;
  min-height: 500px; */
  overflow: hidden;
  display:flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.open .heart {
  -animation: open 4s;
          animation: open 4s;
  transform: scale(100);
  -webkit-transform: scale(100);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.text {
  padding-top: 15%;
  padding-bottom: 15%;
  background:transparent;
  border-style:none; 
  font-size:72px;
  color: #fff;
  opacity: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  white-space: pre-line;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
}

.text::-webkit-scrollbar{
  display: none;
}

.open .text {
  opacity: 1;
  z-index: 100;
  width: 80%;
  height: 100%;
  -webkit-animation: show 2s;
          animation: show 2s;
}

.heart {
  position: absolute;
  width: 150px;
  height: 135px;
  top: 50%;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -75px;
  z-index:99;
}
.heart:before, .heart:after {
  content: "";
  position: absolute;
  top: 0;
  width: 75px;
  height: 120px;
  background: #fc2e5a;
  border-radius: 75px 75px 0 0;
}
.heart:before {
  left: 75px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart-bg {
  -webkit-animation: heart-anim 2s linear 0.8s infinite;
          animation: heart-anim 2s linear 0.8s infinite;
}
.heart-bg:before, .heart-bg:after {
  background-color: #ff7693;
}

.heart-main {
  -webkit-animation: pounding 1s linear infinite alternate;
          animation: pounding 1s linear infinite alternate;
}

@-webkit-keyframes pounding {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pounding {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes heart-anim {
  46% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  52% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(7);
  }
}
@keyframes heart-anim {
  46% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  52% {
    transform: scale(1.5);
  }
  55% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(7);
  }
}

@-webkit-keyframes open {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }
}


@keyframes open {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
